<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col"> <!-- Start of first footer-col with social media stuff -->
        <p class="social-links">
          <svg class="svg-icon blue">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
          </svg>
          <a href="https://twitter.com/lue_jula">lue_jula</a>
        <p class="social-links">
          <svg class="svg-icon grey">
            <use xlink:href="{{ 'assets/minima-social-icons.svg#github' | relative_url }}"></use>
          </svg>
          <a href="https://github.com/julaluehring">julaluehring</a>
        </p>
      </div> <!-- End of footer-col -->
      <div class="footer-col"> <!-- New col with email -->
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
